<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class=""></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title"></h1>
            <p class="lead" translate="main.subtitle"></p>
	         	<input ng-maxlength=3  type="text" ng-model="number"  
                 		class="form-control" name="number" id="number" placeholder="Please enter a number" 
                 		ng-change="onChangeInput()" required>
				<h2>Results</h2>
				<div ng-repeat="fib in fibResult track by $index">
		        	{{fib}}
		        </div>
        </div>
    </div>
</div>
